html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cormorant Infant', serif;

    background: #9fddea;
}

.clouds {
    position: absolute;
    width: 100%;
    height: 8225px;
    background: transparent url(/img/clouds.png) 0 0 repeat-x;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-animation: wave_long 50s infinite linear;
}

@keyframes wave_long {

    99.9% {
        margin-top: -8000px;
    }
    100% {
        margin-top: 0;
    }
}

.content {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}