html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cormorant Infant', serif;

    background: url(/img/mainfon.jpg);
}

.block{
    height: 100%;
    width: 100%;
}

.card{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}